<h2>Inbox</h2>
<SCRIPT SRC="views\mail.js"></SCRIPT>
<table class="table">
  <thead class="thead-light">
    <th scope="col">From</th>
    <th scope="col">Subject</th>
    <th scope="col">Received</th>
    <th></th>
    <!--<th scope="col">ID</th>-->
    <th scope="col"></th>
  </thead>
  <tbody>
    {{#each messages}}
      <tr class="{{#unless this.isRead}}table-primary{{/unless}}">
        <td title="{{this.from.emailAddress.address}}">{{this.from.emailAddress.name}}</td>
        <td>{{this.subject}}</td>
        <td>{{this.receivedDateTime}}</td>
        <!--<td>{{this.id}}</td>-->
        <td><button type="button" class="btn btn-success" onclick="\routes\mail({{this.id}});"href = '\routes\mail'>View Email</button></td>
        <td><button method = "post" id = "postbutton" type="button" class="btn btn-danger" onclick="forward();">Report</button></td>
      </tr>
    {{/each}}
  </tbody>
</table>



<script>const button = document.getElementById('postbutton');
button.addEventListener('click', async _ => {
  try {     
    const response = await fetch('https://graph.microsoft.com/v1.0/me/messages/'+{id}+'/forward', {
      method: 'POST',
      headers: { "content-type" : "application/json" ,  "authorization" : graph_access_token}
      body: JSON {
        "Comment": "REPORT",
        "ToRecipients": [
             {"EmailAddress": {
             "Address": "phishingreport@outlook.com"}}]
            });
      }
    console.log('Completed!', response);
  } catch(err) {
    console.error(`Error: ${err}`);
  }
});
</script>
