<h2>Inbox</h2>
<table class="table">
  <thead class="thead-light">
    <th scope="col">From</th>
    <th scope="col">Subject</th>
    <th scope="col">Received</th>
    <th scope="col">Body Preview</th>
    <th></th>
    <!--<th scope="col">ID</th>-->
    <th scope="col"></th>
  </thead>
  <tbody>
    {{#each messages}}
      <tr class="{{#unless this.isRead}}table-primary{{/unless}}">
        <td title="{{this.from.emailAddress.address}}">{{this.from.emailAddress.name}}</td>
        <td>{{this.subject}}</td>
        <td>{{this.receivedDateTime}}</td>
        <td>{{this.BodyPreview}}</td>

        <!--<td>{{this.id}}</td>-->
        <td><button type="button" class="btn btn-danger" onclick="forward({{this.id}});">Report Email</button></td>
        
      </tr>
    {{/each}}
  </tbody>
</table>